# Web框架
streamlit==1.31.1
fastapi==0.109.2
uvicorn==0.27.1

# 测试框架
pytest==8.0.0
pytest-html==4.1.1
selenium==4.17.2
playwright==1.41.2
appium-python-client==3.1.1

# 任务队列
celery==5.3.6
redis==5.0.1

# 数据库
sqlalchemy==2.0.27
alembic==1.13.1

# 数据可视化
pandas==2.2.0
plotly==5.18.0

# 其他工具
python-dotenv==1.0.1
pydantic==2.6.1
requests==2.31.0
websockets==12.0
python-multipart==0.0.9
psycopg2-binary==2.9.9 
webdriver-manager~=4.0.2
Jinja2~=3.1.6